.summary-month__line,
.summary__info {
    transition: all 1s ease-in;
}

.main__footer {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.link-to-admin {
    text-decoration: none;
    color: #333;
}

.summary-month__line {
    max-width: 1280px;
}